main {
	width: 1600px;
	position: relative;
	margin: 0 auto;
}

.box1 {
	width: 1600px;
	position: relative;
	margin: 0px auto;
	font-family: "方正姚体";
	margin-top: 80px;
}

.box1 .img {
	width: 180px;
	height: 140px;
	position: absolute;
	left: 300px;
	top: -50px;
	animation: img1 1s linear 1;
}

.box1 .img2 {
	widows: 200px;
	height: 400px;
	position: absolute;
	right: 160px;
	top: 60px;
}

@keyframes img1 {
	from {
		transform: translate(-600px);
	}

	to {
		transform: translate(0px);
	}
}

.box1 ul {
	width: 760px;
	margin: 0px auto;
	border-radius: 50%;
}

.box1 ul li {
	float: left;
}

.box1 ul li a {
	display: block;
	width: 190px;
	height: 50px;
	background: #F992B0;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
}

.box1 ul li a:hover {
	background: #D04362;
	transition: all 0.5s;
}

.radius-left {
	border-radius: 30px 0px 0px 30px;
}

.radius-right {
	border-radius: 0px 30px 30px 0px;
}

.box1 table {
	display: none;
}

.box1 table:target {
	display: block;
	margin-bottom: 50px;
}

.box1 table a,
.box2 table a {
	color: red;
	text-decoration: none;
}

.box1 table {
	width: 1180px;
	margin: 0 auto;
	border: 1px solid #D04362;
	padding: 15px;
}

.box1 table span,
.box2 table span {
	color: red;
	font-size: 19px;
}

.box1 table td {
	width: 320px;
	padding: 15px;
	background: #ffd4db;
	margin-left: 20px;
	position: relative;
	border: 15px solid #fff;
	color: #D04362;
}

.box1 table td span:nth-child(1){
	display: inline-block;
	width: 320px;
	height: 260px;
	text-align: center;
	line-height: 260px;
	font-size: 30px;
	position: absolute;
	left: 15px;
	opacity: 0;
	background-color: rgba(255, 255, 255, 0.5);
	transition: all 0.3s;
}

.box1 table td span:nth-child(1):hover{
	opacity: 1;
}

.box1 #table2 td {
	background: #bad7e9;
}

.box1 #table2 td {
	color: #005f9a;
}

.box1 #table2 span {
	color: #00385a;
}

.box1 #table2 span a {
	color: #009dff;
}

.box1 #table3 td {
	background: #c1d6db;
}

.box1 #table3 td {
	color: #006a84;
}

.box1 #table3 span {
	color: #003a48;
}

.box1 #table3 span a {
	color: #007e9d;
}

.box1 #table4 td {
	background: #f4b7b6;
}

.box1 #table4 td {
	color: #ff4800;
	;
}

.box1 #table4 span {
	color: #c33504;
}

.box1 #table4 span a {
	color: #ff3c00;
}

.box1 table img {
	width: 320px;
	height: 260px;
	margin-bottom: 8px;
	z-index: 2;
}

.box2 {
	width: 1600px;
	position: relative;
	margin: 0px auto;
	font-family: "方正姚体";
	margin-bottom: 100px;
}
.box2 table tr td{
	position: relative;
}
.box2 table tr:nth-child(1) span:nth-child(1){
	display: inline-block;
	position: absolute;
	top: 14px;
	left: 16px;
	width: 600px;
	height: 352px;
	font-size: 40px;
	line-height: 352px;
	opacity: 0;
	background-color: rgba(255, 255, 255, 0.5);
	transition: all 0.3s;
}

.box2 table tr:nth-child(1) span:nth-child(1):hover{
	opacity: 1;
	border-right: 1px solid white;
}

.box2 table tr:nth-child(2) span:nth-child(1){
	display: inline-block;
	position: absolute;
	top: 14px;
	left: 8px;
	width: 300px;
	height: 200px;
	font-size: 30px;
	line-height: 200px;
	opacity: 0;
	background-color: rgba(255, 255, 255, 0.5);
	transition: all 0.3s;
}

.box2 table tr:nth-child(2) span:nth-child(1):hover{
	opacity: 1;
}

.box2 .img3 {
	height: 400px;
	position: absolute;
	left: 70px;
	bottom: -50px;
}

.box2 table img {
	margin-bottom: 5px;
}

.box2 p {
	text-align: center;
	font-size: 40px;
	color: #D04362;
	font-weight: bold;
	line-height: 50px;
}

.box2 p:nth-child(1) {
	border-bottom: 3px dotted #E77B93;
	padding-bottom: 8px;
}

.box2 p:nth-child(2) {
	font-size: 25px;
	color: #E77B93;
	padding-bottom: 30px;
}

.box2 table {
	width: 1180px;
	margin: 0 auto;
	border: 1px solid #D04362;
	padding: 15px;
	text-align: center;
	font-size: 20px;
}

.box2 table tr:nth-child(1) img {
	width: 600px;
	height: 350px;
	border: 15px solid #f9bdcb;
	color: #D04362;
}

.box2 table tr:nth-child(2) img {
	width: 300px;
	height: 200px;
	border: 8px solid #f9bdcb;
	color: #D04362;
	margin-top: 6px;
}