.contact-us {
	width: 1100px;
	height: 460px;
	margin: 80px auto;
	background: url(../img/bg8.jpg) no-repeat #ccc;
}

.contact-us .title {
	width: 520px;
	height: 130px;
	font-size: 50px;
	font-family: "方正姚体";
	text-align: center;
	font-weight: bold;
	color: #D04362;
	float: left;
	margin-bottom: 15px;
	animation: title1 1s linear 1;
}

.contact-us .title span {
	font-family: "华文楷体";
	font-weight: normal;
}

@keyframes title1 {
	from {
		transform: translate(-600px);
	}

	to {
		transform: translate(0px);
	}
}

.contact-us .content4 {
	width: 430px;
	height: 160px;
	background: #f992b0;
	margin-left: 80px;
	color: #fff;
	padding: 60px;
	line-height: 40px;
	float: left;
	font-size: 18px;
	font-family: "方正姚体";
	animation: content4 1s linear 1;
}

@keyframes content4 {
	from {
		transform: translateY(500px);
	}

	to {
		transform: translateY(0px);
	}
}

.contact-us .img4 {
	width: 330px;
	height: 330px;
	float: right;
	margin-top: 40px;
	position: absolute;
	/*margin-*/
	right: 315px;
	border-radius: 50%;
	background: #D04362;
	perspective: 1000px;
}

.contact-us .img4 img {
	width: 300px;
	height: 300px;
	float: right;
	border-radius: 50%;
	/*margin-top: 15px; margin-right: 15px;*/
	/* animation: img4 1s linear 1; */
	transition: all 2s;
	position: absolute;
	margin-left: 15px;
	margin-top: 15px;
}

/*@keyframes img4{
from{transform: translate(600px);}
to{transform: translate(0px);}
}*/
.imgg2 {
	backface-visibility: hidden;
}

.img1 {
	transform: rotateY(180deg);
}

.img4:hover .imgg2 {
	transform: rotateY(180deg);
}

.img4:hover .imgg1 {
	transform: rotateY(180deg);
}

.map {
	width: 1000px;
	height: 350px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	border: 8px solid #D04362;
	margin-bottom: 90px;
	background: url(../img/地图\ 2.JPG) no-repeat top left/100% 100%;
}

.map iframe {
	width: 1020px;
	height: 350px;
	margin: 0 auto;
	overflow: hidden;
}